# Instructions
1. Select a dataset with a continuous target variable.

2. Be sure your data is prepared (no missing values, numeric datatypes) and split into samples.

3. Work through all of the steps outlined in the lesson, from setting the baseline to selected a model and evaluating the final model on your test data.

# Import

In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression, LassoLars, TweedieRegressor
from sklearn.preprocessing import PolynomialFeatures

from wrangle import full_zillow_wrangle
from env import get_db_url

# Wrangle

In [2]:
df, X_train_exp, X_train, y_train, X_validate, y_validate, X_test, y_test = full_zillow_wrangle()

X_train_exp.shape

(1074127, 7)

In [3]:
X_train.head(3)

,beds,baths,area,worth,tax,beds_scaled,baths_scaled,area_scaled,worth_scaled,tax_scaled
541039,4,2,1388,265086,3813.18,1.003939,-0.019899,-0.473020,-0.317852,-0.113488
202114,4,2,1980,404328,5193.06,1.003939,-0.019899,0.579697,0.386405,0.507217
508862,3,2,1406,374450,4734.70,-0.282528,-0.019899,-0.441012,0.235288,0.301035